


<br />
<br />
<br />
<div class="row main-cont">
    <div class="col-lg-6 left-cont">
        <h2>Quiet Book</h2>
        <p>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum....</p>
    </div>
    <div class="col-lg-6">
        <h2 class="right-head main-cont">Quiet Book</h2>
    </div>
</div>
